body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root,
.App,
.layout {
  height: 100%;
}

.modal {
  width: 550px;
  background: #1f1f1f;
  padding: 2em;
  margin: 1em auto;
  border-radius: 5px;
  position: relative;
}

.modal-example {
  margin-left: -2em;
  margin-right: -2em;
  margin-top: -2em;
  margin-bottom: 2em;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.example {
  width: 200px;
  transform: rotate(-15deg);
  margin: 3em auto;
  display: block;
}

.modal input {
  color: #fff;
  background: transparent;
}
.modal svg {
  fill: #fff;
}
.modal p {
  margin-top: 1em;
  color: #fff;
}

h1.title {
  font-size: 13px;
  color: #fff;
  position: relative;
  text-transform: lowercase;
  position: absolute;
  z-index: 1;
  top: 1em;
  left: 1em;
}

h1.title:after {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  background: #453a51;
  background-clip: text;
  text-shadow: none;
  content: attr(data-text);
}

.content {
  display: flex;
  flex-direction: column;
  background-color: #110d15;
}

.content--index {
  justify-content: center;
}

.editor-action {
  width: 45px;
  height: 45px;
  background: #1f1f1f;
  color: #fff;
  border-radius: 25px;
  border: 0;
  border: 1px solid rgba(255, 255, 255, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.editor-action .spinner {
  margin-top: 4px;
}

.editor-action[disabled]:hover,
.editor-action:hover,
.editor-action:active,
.editor-action:focus {
  background: #1f1f1f;
}

.editor-action:disabled,
.editor-action[disabled] {
  border: 1px solid rgba(255, 255, 255, 0.15);
  color: #fff;
  background: #1f1f1f;
  opacity: 0.7;
}
.editor-action[disabled]:hover {
  border: 1px solid rgba(255, 255, 255, 0.15);
}
.menu {
  background: #1f1f1f;
}
.menu-item {
  color: #fff;
}
.menu-item:hover {
  background: rgba(255, 255, 255, 0.1);
}

.canvas {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.box {
  padding: 2em;
  background: #1f1f1f;
}

.modal .preview-container:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}

.preview-container {
  position: relative;
  cursor: crosshair;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.preview-actions {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.preview {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
}

.button {
  background: transparent !important;
  color: #fff;
}
