body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root,
.App,
.layout {
  height: 100%;
}

.content {
  width: 800px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.box {
  padding: 2em;
  background: #fff;
}

.preview-container {
  position: relative;
  cursor: crosshair;
}

.preview {
  width: 100%;
}
